<div class="recent-post">
  <div class="title"><%= @recent_post.title %></div>
  <div class="body"><%= @recent_post.body.truncate(500).html_safe %></div>
  <button class="read-more">Read more</button>
</div>
