<aside>
  <div class="profile-image"></div>
  <div class="hi"><light>Hi! I'm</light> Karen.</div>
  <div class="desc">
    I’m a web developer based in San Francisco. View more of my work here.
  </div>
</aside>
