<aside>
  <div class="profile-image"></div>
  <div class="hi"><light>Hi! I'm</light> Karen.</div>
  <div class="desc">
    I’m a web developer based in <br>San Francisco, California with experience in <i>Ruby on Rails</i>, <i>JavaScript</i>, and <i>Backbone.js</i>.
  </div>

  <footer>
    <ul class="icons">
      <li>
        <a href="https://www.linkedin.com/in/karensling">
          <i class="fa fa-linkedin-square"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/karenling">
          <i class="fa fa-github-square"></i>
        </a>
      </li>
      <li>
        <a href="http://blog.karenling.net">
          <i class="fa fa-tumblr-square"></i>
        </a>
      </li>
      <li>
        <i class="fa fa-envelope-square mail"></i>
      </li>
    </ul>
    <copyright>© Karen Ling. All Rights Reserved.</copyright>
  </footer>
</aside>
