<div class="preload">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/portfolio/portfolio_image_1.jpg">
  <img src="https://dl.dropboxusercontent.com/u/2330299/capstone/portfolio/portfolio_image_2.jpg">
</div>


<div class="work2">
  <div class="laptop">
    <div class="portfolio"></div>
    <div class="description"></div>
  </div>

</div>
