<div class="preload">
  <img src="http://images.karenling.net/aa/portfolio/portfolio_image_1.jpg">
  <img src="http://images.karenling.net/aa/portfolio/portfolio_image_2.jpg">
  <img src="http://images.karenling.net/aa/portfolio/portfolio_image_3.jpg">

</div>


<div class="work">
  <div class="laptop">
    <div class="portfolio">
    </div>
  </div>

  <div class="down-arrow">
    <div class="left"></div>
    <div class="right"></div>
  </div>
</div>

<style type="text/css">
  .down-arrow {
    position: absolute;
    bottom: 70px;
    left: 50%;
    margin-left: -20px;
    height: 35px;
    width: 65px;
    background-color: transparent;
    -webkit-transition: bottom 800ms linear, opacity 800ms linear; /* Safari */
    transition: bottom 800ms linear, opacity 800ms linear;
  }

  .shift-down {
    bottom: 30px;
    opacity: 0;
  }

  .left {
    position: absolute;
    top: 15px;
    height: 3px;
    width: 40px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);

  }

  .right {
    position: absolute;
    top: 15px;
    left: 27px;
    height: 3px;
    width: 40px;
    background: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
  }

</style>
