$light-teal: #c3e8e3;
$teal: #86d3c9;
$text-color: #a2a2a2;
@mixin grey-border-button {
  border: 2px solid #efefef;
  border-radius: 5px;
  color: #787878;
  padding: 10px 30px;
  background: #fff;
  font: 16px 'Lato';
}
body {
  font: 16px 'Lato';
  color: $text-color;
  font-weight: 300;
  background-color: #f5f5f5;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  text-decoration: none;
}
light {
  font-weight: 200;
}
hr.divider {
  height: 2px;
  width: 300px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.1);
}
.main {
  position: absolute;
  top: 0px;
  left: 375px;
  padding: 0;
  width: Calc(100% - 375px);
  -webkit-transition: position 10s; /* Safari */
  transition: position 10s;
  .recent-post {
    .title {
      font-size: 36px;
      color: #787878;
      font-weight: 400;
      margin-bottom: 40px;
    }
    .body {
      line-height: 30px;
    }
    .read-more {
      @include grey-border-button;
    }
  }
  .preload {
    position: absolute;
    left: -4000px;
    top: -4000px;
  }



  .work {
    min-height: 450px;
    margin: auto auto;
    padding: 0 50px;
    position: relative;
    // background-color: red;


    .laptop {
      width: Calc(100% - 100px);
      background-image: url('http://images.karenling.net/aa/portfolio/mac_laptop.png');
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .work-carousel {
      width: Calc(74% - 80px);
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .portfolio {
      position: relative;
      background-size: 100%;
      height: 100%;
      background-repeat: no-repeat;
      &.portfolio-1 {
        background-image: url('http://images.karenling.net/aa/portfolio/portfolio_image_1.jpg');
      }
      &.portfolio-2 {
        background-image: url('http://images.karenling.net/aa/portfolio/portfolio_image_2.jpg');
      }
      &.portfolio-3 {
        background-image: url('http://images.karenling.net/aa/portfolio/portfolio_image_3.jpg');
      }

      video {
        width: 100%;
        margin: auto auto;
      }
    }



    // .portfolio {
    //   position: absolute;
    //   top: 7.3%;
    //   left: 13%;
    //   width: 74%;
    //   height: 83%;
    //   background-size: 100%;
    //   background-repeat: no-repeat;
    //   -webkit-transition: background-image 600ms; /* Safari */
    //   transition: background-image 600ms;
    //   &:hover .description {
    //     opacity: 0.9;
    //   }
    // }

    .more-info {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1;
      color: #fff;
      opacity: 0.5;
      font-size: 30px;
      .info {
        font-family: serif;
        padding-right: 5px;
      }
      .close-description {
        font-style: normal;
      }
      .hide-button {
        display: none;
      }
    }
    .description {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      color: rgba(255, 255, 255, 0.9);
      -webkit-transition: opacity 600ms; /* Safari */
      transition: opacity 600ms;

      & a:link, & a:active, & a:visited {
        color: $light-teal;
      }
      & a:hover {
        color: $teal;
      }
      .content {
        width: 300px;
        position: absolute;
        left: 50px;
        bottom: 50px;
        .title {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-weight: 400;
          color: rgba(255, 255, 255, 0.95);
          & a:link, & a:active, & a:visited {
            color: #fff;
          }
          & a:hover {
            color: $teal;
          }
        }
        .icons {
          margin-top: 10px;
          img {
            height: 25px;
            margin-right: 10px;
            display: inline-block;
          }
        }
        .body {
          margin-top: 10px;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
    .make-opaque {
      opacity: 0.9;
    }
  }




  .contact {
    position: absolute;
    width: Calc(100% - 200px);
    padding: 0 100px;
    background-color: #222;
    text-align: center;

    .close-contact {
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 30px;
      -webkit-transition: color 200ms;
      transition: color 200ms;
      &:hover {
        color: #fff;
      }
    }
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -195px;
      margin-left: -268px;
    }
    .notice {
      display: none;
      padding-top: 10px;
      font-size: 14px;
      color: $light-teal;

    }
    .errors {
      display: none;
      padding-top: 10px;
      font-size: 14px;
      color: red;
    }
    .title {
      font-size: 36px;
      text-transform: uppercase;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 25px;
    }
    input#message-name, input#message-email, textarea#message-body {
      background-color: rgba(255, 255, 255, 0.1);
      border: 0;
      padding: 16px;
      font-size: 16px;
      font-family: 'Lato';
      font-weight: 400;
      color: #fff;
    }
    input#message-name, input#message-email {
      margin-top: 25px;
      width: 222px;
    }
    input#message-name {
      margin-right: 25px;
      margin-left: 1px;
    }
    textarea#message-body {
      display: block;
      margin: auto auto;
      width: 500px;
      height: 100px;
      margin-top: 25px;
    }
    .submit-message {
      text-transform: uppercase;
      letter-spacing: 1px;
      border: 0;
      color: #fff;
      padding: 10px 30px;
      background: #86d3c9;
      font: 14px 'Lato';
      margin-top: 25px;
      &:hover {
        background: $light-teal;
      }
    }
  }
}
aside {
  min-height: 450px;
  width: Calc(375px - 100px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: url('http://images.karenling.net/aa/portfolio/bg.jpg');
  background-size: 375px;
  color: #fff;
  padding: 50px;
  text-align: center;

  .profile-image {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-image: url('http://images.karenling.net/aa/portfolio/profile_image.jpg');
    background-size: 100%;
    margin: auto auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  }
  .hi {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 30px;
  }
  .desc {
    font-size: 18px;
    color: $light-teal;
    line-height: 30px;
    margin-top: 10px;
  }
  footer {
    position: absolute;
    width: Calc(100% - 100px);
    bottom: 15px;
    color: $light-teal;
    ul.icons {
      font-size: 42px;
      margin-bottom: 20px;
      list-style-type: none;
      padding: 0;

      li {
        display: inline;
        margin-right: 30px;
        &:last-child {
          margin-right: 0px;
        }
        i {
          cursor: pointer;
          background-color: transparent;
        }
        & a:link, & a:visited, & a:active {
          color: $light-teal;
          -webkit-transition: color 200ms; /* Safari */
          transition: color 200ms;
        }
        &:hover, & a:hover {
          color: #fff;
        }
      }
    }
    copyright {
      font-size: 12px;
    }
  }
}
