$light-teal: #c3e8e3;
$text-color: #a2a2a2;

body {
  font: 16px 'Lato';
  color: $text-color;
  font-weight: 300;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  text-decoration: none;
}
light {
  font-weight: 200;
}
aside {
  width: Calc(375px - 100px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/portfolio/bg.jpg');
  background-size: 375px;
  color: #fff;
  padding: 50px;
  text-align: center;

  .profile-image {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-image: url('https://dl.dropboxusercontent.com/u/2330299/capstone/portfolio/profile_image.jpg');
    background-size: 100%;
    margin: auto auto;
  }
  .hi {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 30px;
  }
  .desc {
    font-size: 18px;
    color: $light-teal;
    line-height: 30px;
    margin-top: 10px;
  }
  nav {
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50px;
    margin-top: Calc(110px - 85px);
    width: Calc(100% - 100px);
    ul {
      font-size: 14px;
      list-style-type: none;
      padding: 0px;
      text-transform: uppercase;
      letter-spacing: 1px;
      li {
        padding: 18px 0;
        border-top: 2px solid rgba(255, 255, 255, 0.2);
        &:last-child {
          border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
  footer {
    position: absolute;
    width: Calc(100% - 100px);
    bottom: 15px;
    color: $light-teal;
    ul.icons {
      font-size: 42px;
      margin-bottom: 20px;
      list-style-type: none;
      padding: 0;

      li {
        display: inline;
        margin-right: 30px;
        &:last-child {
          margin-right: 0px;
        }
        & a:link, & a:visited, & a:active {
          color: $light-teal;
          -webkit-transition: color 200ms; /* Safari */
          transition: color 200ms;
        }
        &:hover, & a:hover {
          color: #fff;
        }
      }
    }
    copyright {
      font-size: 12px;
    }
  }
}
